@-webkit-keyframes preloader {
  0%, 25% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-moz-keyframes preloader {
  0%, 25% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-o-keyframes preloader {
  0%, 25% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-moz-keyframes preloader {
  0%, 25% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-webkit-keyframes preloader {
  0%, 25% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-o-keyframes preloader {
  0%, 25% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes preloader {
  0%, 25% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
:root {
  font-size: 16px;
}
body {
  font-family: 'Arial', sans-serif;
  color: #00539f;
  background: #fff;
}
h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
p,
span,
small {
  font-weight: regular;
}
.grid-container {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.js-off-canvas-overlay {
  background: rgba(254,254,254,0.5);
}
.accordion-title::before {
  position: absolute;
  top: 50px;
  right: 2rem;
  margin-top: -0.5rem;
  content: '+';
  font-size: 1.8rem;
  background: #6c2c91;
  width: 2rem;
  height: 2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 0.1rem 0.5rem;
  color: #fff;
}
.cm-primary-color {
  color: #00539f;
}
.cm-secondary-color {
  color: #3dae2b;
}
.cm-tertiary-color {
  color: #1c840c;
}
.cm-link-color {
  color: #1c840c;
}
.cm-grayLight-color {
  color: #efefee;
}
.cm-grayMedium-color {
  color: #f2f2f2;
}
.cm-grayDark-color {
  color: #b2b2b2;
}
.cm-primary-bg {
  background-color: #00539f;
}
.cm-secondary-bg {
  background-color: #3dae2b;
}
.cm-tertiary-bg {
  background-color: #1c840c;
}
.cm-grayLight-bg {
  background-color: #efefee !important;
}
.cm-grayMedium-bg {
  background-color: #f2f2f2;
}
.cm-grayDark-bg {
  background-color: #b2b2b2;
}
.p-relative {
  position: relative;
}
.container-text {
  padding: 1rem 2rem;
  position: relative;
}
.container-text.-color-white {
  color: #fff;
}
.container-text >.list-descript {
  list-style: none;
}
.container-text >.list-descript li {
  padding: 0.4rem 0;
}
.container-text >.title {
  font-size: 1.3rem;
  margin: 0;
}
.container-text >.title:before {
  content: '';
  position: absolute;
  height: 0.3rem;
  width: 4rem;
  background: #3dae2b;
  bottom: -0.5rem;
  left: 0;
}
.container-text >.title.-banda-angosta:before {
  background: #6c2c91;
}
.container-text >.title.-center {
  text-align: center;
}
.container-text >.title.-center:before {
  left: 0;
  right: 0;
  margin: auto;
}
.container-text >.title.-eyecatcher {
  font-size: 2.2rem;
}
.container-text >.title.-card-expand {
  font-size: 1rem;
}
.container-text >.title.-card-expand:before {
  display: none;
}
.container-text >.subtitle {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
}
.container-text >.subtitle.-eyecatcher {
  font-size: 0.9rem;
}
.container-text >.subtitle.-center {
  text-align: center;
}
.container-text >.text-body {
  font-size: 0.8rem;
  line-height: 1.1rem;
  display: none;
}
.container-text >.text-body.-card-expand {
  display: inherit;
}
@media (min-width: 992px) {
  .container-text >.title {
    font-size: 2.7rem;
    position: relative;
    margin-bottom: 1rem;
  }
  .container-text >.title.-eyecatcher {
    font-size: 3.2rem;
  }
  .container-text >.title.-card-expand {
    font-size: 2.2rem;
  }
  .container-text >.subtitle {
    font-size: 1.7rem;
    margin: 0;
  }
  .container-text >.subtitle.-eyecatcher {
    font-size: 1.2rem;
  }
  .container-text >.text-body {
    margin-bottom: 2rem;
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
  .container-text >.text-body.-card-expand {
    margin-bottom: 2rem;
  }
}
.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  opacity: 1;
  padding: 0.5rem 2rem;
  bottom: 1rem;
  right: 9rem;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition: all;
}
.button.-cmyk {
  position: absolute;
  background: #efefef;
  border: 0;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #6c2c91;
}
.button:hover,
.button color red,
.button background-color #e0e0e0,
.button border 0,
.button opacity .5,
.button.-primary-color-outline {
  background: transparent;
  border: 0.05rem solid #3dae2b;
  color: #3dae2b;
}
.button.-primary-color {
  background-color: #3dae2b;
  color: #fff;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition: all;
}
.button.-primary-color:hover {
  background-color: #1c840c;
}
.button.-absolute {
  background-color: rgba(0,0,0,0.3);
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  bottom: 0;
  color: #fff;
  margin: 0;
  padding: 0.9rem 4rem 0.9rem 0;
  position: absolute;
  right: -1px;
  text-align: right;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition: all;
  width: 100%;
}
.button.-absolute .material-icons {
  color: #3dae2b;
  font-size: 1rem !important;
  margin-left: 1rem;
  position: absolute;
  top: 0.77rem;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition: all;
}
.button.-absolute:hover .material-icons {
  margin-left: 1.5rem;
}
@font-face {
  font-family: "Flaticon";
  src: url("icons/Flaticon.eot");
  src: url("icons/Flaticon.eot?#iefix") format("embedded-opentype"), url("icons/Flaticon.woff2") format("woff2"), url("icons/Flaticon.woff") format("woff"), url("icons/Flaticon.ttf") format("truetype"), url("icons/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("icons/Flaticon.svg#Flaticon") format("svg");
  }
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}
.flaticon-redirect:before {
  content: "\f100";
}
.flaticon-facebook-logo:before {
  content: "\f101";
}
.flaticon-cancel:before {
  content: "\f102";
}
.flaticon-twitter-logo-silhouette:before {
  content: "\f103";
}
.flaticon-linkedin-logo:before {
  content: "\f104";
}
.flaticon-right-arrow:before {
  content: "\f105";
}
.flaticon-back:before {
  content: "\f106";
}
.flaticon-brain:before {
  content: "\f107";
}
.flaticon-maps-and-flags:before {
  content: "\f108";
}
.flaticon-close-envelope:before {
  content: "\f109";
}
.flaticon-phone-receiver:before {
  content: "\f10a";
}
.flaticon-send:before {
  content: "\f10b";
}
.flaticon-send-1:before {
  content: "\f10c";
}
.flaticon-search:before {
  content: "\f10d";
}
.flaticon-menu:before {
  content: "\f10e";
}
.flaticon-left-arrow:before {
  content: "\f10f";
}
.flaticon-chat:before {
  content: "\f110";
}
.flaticon-instagram:before {
  content: "\f111";
}
.menu-mobile {
  background: #00539f;
  padding-top: 4rem;
}
.menu-mobile .item-menu {
  font-size: 0.89rem;
  font-weight: bold;
}
.menu-mobile .item-menu.-item-title {
  color: #fff;
  display: block;
  line-height: 1;
  padding: 0.7rem 1rem;
}
.menu-mobile .nested {
  margin-bottom: 1rem;
}
.menu-mobile .nested .item-menu {
  font-size: 0.8rem;
}
.menu-mobile .nested .item-link {
  font-weight: lighter;
  padding: 0.3rem 1rem;
}
.menu-mobile .item-link {
  color: #fff;
}
.menu-mobile .item-link:hover {
  color: #3dae2b;
}
.card-lg {
  background: #fff;
  min-height: 21rem;
  padding: 4rem 1rem 0;
  position: relative;
}
.card-lg.-slide {
  min-height: 30rem;
}
.card-sm {
  background: #fff;
  min-height: 21rem;
  padding: 3rem 0;
  position: relative;
}
.card-sm .text-body {
  display: none;
}
@media (min-width: 640px) {
  .card-sm .text-body {
    display: block;
  }
}
.-bg-img {
  background-size: cover;
  background-position: center;
}
.banda-angosta {
  color: #6c2c91;
}
.bg-banda-angosta {
  background: #e2d5e9;
}
.bg-cyan {
  background: #0688ff;
}
.bg-magenta {
  background: #f0f;
}
.bg-black {
  background: #1d1d1d;
}
.bg-yellow {
  background: #ff0;
}
.header {
  background: #00539f;
  height: 3.7rem;
  width: 100%;
  position: fixed;
  padding: 1.3rem 0;
  z-index: 1;
}
@media (min-width: 1024px) {
  .header {
    height: 5rem;
  }
}
.data-toggle-menu {
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
  color: #fff;
  cursor: pointer;
  margin: 0.5;
  position: absolute;
  left: 1rem;
  top: -0.5rem;
  font-size: 2rem !important;
}
.data-toggle-menu:hover {
  color: #3dae2b;
}
.link-logotipo .item-logotipo {
  display: block;
  margin: 0;
  margin-top: 0.3rem;
  width: 13rem;
}
@media (max-width: 1024px) {
  .link-logotipo .item-logotipo {
    margin: auto;
    width: 9rem;
  }
}
nav {
  margin-top: -0.2rem;
  background: #f2f2f2;
}
@media (min-width: 992px) {
  nav {
    background: #00539f;
    position: absolute;
    right: 1rem;
    top: -0.9rem;
  }
}
nav .menu.-secondary {
  color: #00539f;
  margin: auto;
  padding: 0.1rem 0;
  width: 15.5rem;
}
@media (min-width: 992px) {
  nav .menu.-secondary {
    color: #fff;
  }
}
nav .menu.-secondary li:nth-child(3) {
  margin-left: 1rem;
}
nav .menu.-secondary li:nth-child(2) {
  position: relative;
}
nav .menu.-secondary li:nth-child(2):after {
  content: '\f10f';
  color: #00539f;
  font-family: Flaticon;
  font-size: 0.5rem;
  position: absolute;
  right: 1.3rem;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 0.45rem;
}
nav .menu.-secondary select {
  background: transparent;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-right: 1px solid #00539f;
  color: #00539f;
  font-size: 0.7rem;
  height: auto;
  padding: 0 2rem 0 1rem;
  position: relative;
}
@media (min-width: 992px) {
  nav .menu.-secondary select {
    color: #fff;
  }
}
nav .menu.-secondary a {
  padding: 0;
  margin: 0.25rem 0.6rem 0;
}
.menu-primary {
  margin-top: 0.3rem;
  float: right;
}
.menu-primary .menu-item:last-child {
  display: flex;
}
.menu-primary .menu-item:last-child .material-icons {
  color: #3dae2b;
  font-size: 1.2rem;
  margin-top: 0.4rem;
}
.menu-primary .menu-item:last-child .language-select-desktop {
  background: transparent;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-right: 1px solid #00539f;
  color: #00539f;
  font-size: 0.7rem;
  height: auto;
  position: relative;
  padding: 0 0.2rem;
}
@media (min-width: 992px) {
  .menu-primary .menu-item:last-child .language-select-desktop {
    color: #fff;
  }
}
.menu-primary .menu-item a {
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.7rem 1.4rem !important;
  text-transform: uppercase;
}
.menu-primary .menu-item:after {
  color: $secondary-color;
}
.menu-primary .menu-item:hover:focus,
.menu-primary .menu-item:hover:active {
  color: #fff !important;
}
@media (max-width: 1024px) {
  .menu-primary {
    display: none;
  }
}
.is-dropdown-submenu {
  border: 0;
  padding: 1rem 0;
  background: #00539f;
}
.is-dropdown-submenu li:hover,
.is-dropdown-submenu li a {
  color: #00539f;
}
.is-dropdown-submenu li:hover:hover,
.is-dropdown-submenu li a:hover,
.is-dropdown-submenu li:hover:focus,
.is-dropdown-submenu li a:focus,
.is-dropdown-submenu li:hover:active,
.is-dropdown-submenu li a:active {
  color: #3dae2b !important;
}
.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
  border-color: #3dae2b transparent transparent;
}
.language-select {
  display: flex;
  position: absolute;
  right: 1rem;
  top: 2px;
  width: 3rem;
}
@media (min-width: 1024px) {
  .language-select {
    display: none;
  }
}
.language-select .material-icons {
  color: #3dae2b;
  font-size: 1rem !important;
  margin-right: 0.5rem;
}
.language-select .language-select-mobile {
  background: transparent;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #fff;
  font-size: 0.7rem;
  height: auto;
  padding: 0;
}
.container-main {
  padding-top: 5.5rem;
}
@media (max-width: 1024px) {
  .container-main {
    padding-top: 4.75rem;
  }
}
.container-main .cell {
  background: #fff !important;
}
.container-main .grid-x .cell:nth-child(1) {
  padding: 0 0 0.5rem;
}
@media (min-width: 640px) {
  .container-main .grid-x .cell:nth-child(1) {
    padding: 0 0.25rem 0.25rem 0;
  }
}
.container-main .grid-x .cell:nth-child(2) {
  padding: 0 0.25rem 0.25rem 0;
}
@media (min-width: 640px) {
  .container-main .grid-x .cell:nth-child(2) {
    padding: 0 0 0.25rem 0.25rem;
  }
}
.container-main .grid-x .cell:nth-child(3) {
  padding: 0 0 0.25rem 0.25rem;
}
@media (min-width: 640px) {
  .container-main .grid-x .cell:nth-child(3) {
    padding: 0.25rem 0.25rem 0.25rem 0;
  }
}
.container-main .grid-x .cell:nth-child(4) {
  padding: 0.25rem 0.25rem 0.25rem 0;
}
@media (min-width: 640px) {
  .container-main .grid-x .cell:nth-child(4) {
    padding: 0.25rem 0 0.25rem 0.25rem;
  }
}
.container-main .grid-x .cell:nth-child(5) {
  padding: 0.25rem 0 0.25rem 0.25rem;
}
@media (min-width: 640px) {
  .container-main .grid-x .cell:nth-child(5) {
    padding: 0.25rem 0.25rem 0.25rem 0;
  }
}
.container-main .grid-x .cell:nth-child(6) {
  padding: 0.25rem 0 0.25rem;
}
@media (min-width: 640px) {
  .container-main .grid-x .cell:nth-child(6) {
    padding: 0.25rem;
  }
}
.container-main .grid-x .cell:nth-child(7) {
  padding: 0.25rem 0 0.25rem;
}
@media (min-width: 640px) {
  .container-main .grid-x .cell:nth-child(7) {
    padding: 0.25rem 0 0.25rem 0.25rem;
  }
}
.container-main .grid-x .cell:nth-child(8) {
  padding: 0.25rem 0.25rem 0.25rem 0;
}
@media (min-width: 640px) {
  .container-main .grid-x .cell:nth-child(8) {
    padding: 0.25rem 0.25rem 0.25rem 0;
  }
}
.container-main .grid-x .cell:nth-child(9) {
  padding: 0.25rem 0 0.25rem 0.25rem;
}
@media (min-width: 640px) {
  .container-main .grid-x .cell:nth-child(9) {
    padding: 0.25rem 0 0.25rem 0.25rem;
  }
}
.container-main .grid-x .cell:nth-child(10) {
  padding: 0.25rem 0 0.25rem;
}
@media (min-width: 640px) {
  .container-main .grid-x .cell:nth-child(10) {
    padding: 0.25rem 0.25rem 0.25rem 0;
  }
}
.container-main .grid-x .cell:nth-child(11) {
  padding: 0.25rem 0 0.25rem;
}
@media (min-width: 640px) {
  .container-main .grid-x .cell:nth-child(11) {
    padding: 0.25rem 0 0.25rem 0.25rem;
  }
}
.container-main .grid-x .cell:nth-child(12) {
  padding: 0.25rem 0 0.25rem;
}
@media (min-width: 640px) {
  .container-main .grid-x .cell:nth-child(12) {
    padding: 0.25rem 0.25rem 0.25rem 0;
  }
}
.container-main .grid-x .cell:nth-child(13) {
  padding: 0.25rem 0 0.25rem;
}
@media (min-width: 640px) {
  .container-main .grid-x .cell:nth-child(13) {
    padding: 0.25rem 0 0.25rem 0.25rem;
  }
}
.gradient-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(left, rgba(2,5,26,0.89) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,5,26,0.89)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left, rgba(2,5,26,0.89) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left, rgba(2,5,26,0.89) 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left, rgba(2,5,26,0.89) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(2,5,26,0.89) 0%, rgba(0,0,0,0) 100%);
}
.container-map-ubication {
  padding: 2rem 0;
}
.container-map-ubication .mex {
  position: relative;
  padding: 2rem 0 0;
  width: 850px;
  margin: auto;
}
.container-map-ubication .mex svg:nth-child(2),
.container-map-ubication .mex svg:nth-child(3) {
  display: none;
}
.container-map-ubication .mex .city-container:nth-child(4) {
  top: 5rem;
  right: 28rem;
}
.container-map-ubication .mex .city-container:nth-child(5) {
  top: 12rem;
  left: 30rem;
}
.container-map-ubication .mex .city-container:nth-child(6) {
  top: 16.5rem;
  left: 23rem;
}
.container-map-ubication .mex .city-container:nth-child(7) {
  top: 20rem;
  left: 28rem;
}
.container-map-ubication .mex .city-container:nth-child(8) {
  top: 24rem;
  left: 35rem;
}
.container-map-ubication .mex .city-container {
  position: absolute;
  font-size: 0.8rem;
  cursor: pointer;
}
.container-map-ubication .mex .city-container:hover a {
  right: -2rem;
}
.container-map-ubication .mex .city-container span {
  vertical-align: text-bottom;
}
.container-map-ubication .mex .city-container a {
  height: 1.2rem;
  width: 1.2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #3dae2b;
  display: inline-block;
  padding: 0.05rem 0.3rem;
  position: absolute;
  right: -1.7rem;
  top: 0;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition: all;
}
.container-map-ubication .mex .city-container a .material-icons {
  color: #fff;
  font-size: 11px;
}
.container-map-ubication .mex svg {
  display: block;
  margin: auto;
}
.container-in {
  padding-top: 5.5rem;
}
.accordion-content {
  padding: 4rem 2rem;
}
.accordion-title {
  color: #454545;
  cursor: default;
}
.accordion-title:before {
  display: none;
}
.accordion-title img {
  width: 1.4rem;
  margin-right: 0.5rem;
}
.accordion-title:hover,
.accordion-title:focus {
  background: transparent;
  color: #454545;
}
.medals {
  text-align: center;
  padding-top: 4rem;
}
.medals img {
  width: 4rem;
  margin: auto;
  display: block;
}
.medals strong {
  display: block;
  margin: 0.5rem 0 0.5rem;
}
.medals small {
  display: block;
  text-transform: uppercase;
  margin: 1rem 0 0;
}
.card-color {
  background: #fff;
  color: #454545;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem 1rem;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 1rem;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 1rem;
  -moz-border-radius-topleft: 0;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -ms-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  border-top-left-radius: 0;
}
.card-color .-primary-color-outline {
  margin-top: 1rem;
  background: transparent;
  border: 0.05rem solid #6c2c91;
  color: #6c2c91;
  width: 100%;
  font-size: 0.8rem;
}
.card-color .-icon-shopping {
  cursor: pointer;
  height: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.5rem;
}
.card-color span {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  height: 7rem;
  left: -4rem;
  position: absolute;
  top: -4rem;
  width: 7rem;
}
