// colors & color background
.cm-primary-color
	color $cm-primary-color

.cm-secondary-color
	color $cm-secondary-color

.cm-tertiary-color
	color $cm-tertiary-color
	
.cm-link-color
	color $cm-link-color

.cm-grayLight-color
	color $cm-grayLight-color

.cm-grayMedium-color
	color $cm-grayMedium-color

.cm-grayDark-color
	color $cm-grayDark-color

.cm-primary-bg
	background-color $cm-primary-color

.cm-secondary-bg
	background-color $cm-secondary-color
	
.cm-tertiary-bg
	background-color $cm-tertiary-color

.cm-grayLight-bg
	background-color $cm-grayLight-color !important

.cm-grayMedium-bg
	background-color $cm-grayMedium-color

.cm-grayDark-bg
	background-color $cm-grayDark-color

.p-relative 
	position relative