@import 'mixins.styl';
@import 'variables.styl';
@import 'structur.styl';
@import 'helpers.styl';

    // elements
    @import 'elements/text.styl';
    @import 'elements/btns.styl';
    @import 'elements/form.styl';
    @import 'elements/icons.styl';
    @import 'elements/img.styl';
    @import 'elements/menu.styl';
    @import 'elements/card.styl';
    @import 'elements/eyecatcher.styl';
    @import 'elements/colors.styl';
    
    // sections
    @import 'sections/header.styl';
    @import 'sections/footer.styl';
    @import 'sections/main-container.styl';
    @import 'sections/ubication-home.styl';
    @import 'sections/in-container.styl';
    @import 'sections/in-container-tabs.styl';
