:root
	font-size 16px

body
	font-family $cm-font-body
	color $cm-primary-color

h1
h2
h3
h4
	font-family $cm-font-title 
	font-weight bold 

p
span
small
	font-weight regular

// colors & color background
.cm-primary-color
	color $cm-primary-color

.cm-secondary-color
	color $cm-secondary-color

.cm-tertiary-color
	color $cm-tertiary-color

.cm-grayLight-color
	color $cm-grayLight-color

.cm-grayMedium-color
	color $cm-grayMedium-color

.cm-grayDark-color
	color $cm-grayDark-color

.cm-primary-bg
	background-color $cm-primary-color

.cm-secondary-bg
	background-color $cm-secondary-color
	
.cm-tertiary-bg
	background-color $cm-tertiary-color

.cm-grayLight-bg
	background-color $cm-grayLight-color

.cm-grayMedium-bg
	background-color $cm-grayMedium-color

.cm-grayDark-bg
	background-color $cm-grayDark-color


