:root
	font-size 16px

body
	font-family $cm-font-body
	color $cm-primary-color
	background $cm-white-color 

h1
h2
h3
h4
	font-family $cm-font-title 
	font-weight bold 

p
span
small
	font-weight regular

.grid-container 
	padding-right: .5rem
	padding-left: .5rem

.js-off-canvas-overlay
	background: rgba(254,254,254,0.5)

.accordion-title::before 
	position: absolute
	top: 50px
	right: 2rem
	margin-top: -.5rem
	content: '+'
	font-size: 1.8rem
	background: #6c2c91
	width: 2rem
	height: 2rem
	border-radius: 50%
	padding: .1rem .5rem
	color: white
