:root
	font-size 16px

body
	font-family $cm-font-body
	color $cm-primary-color
	background $cm-white-color 

h1
h2
h3
h4
	font-family $cm-font-title 
	font-weight bold 

p
span
small
	font-weight regular

.grid-container 
	max-width 82rem

.js-off-canvas-overlay
	background: rgba(254,254,254,0.5)