// colores base
$cm-primary-color = #011689
$cm-secondary-color = #fff300
$cm-tertiary-color = #e3108a

$cm-link-color = $cm-tertiary-color
$cm-hover-color = purple

// colores secundarios
$cm-font-color = #454545
$cm-grayLight-color = #efefee
$cm-grayMedium-color = #f2f2f2
$cm-grayDark-color = #b2b2b2

$cm-white-color = #fff
$cm-black-color = #1d1d1d

// transiciones
$cm-transition-slow = .8s
$cm-transition-middle =  .4s
$cm-transition-fast =  .2s

// tipografia
$cm-font-title =  'Montserrat', sans-serif
$cm-font-body = 'Arial', sans-serif
$cm-font-icon = 'Flaticon'



