.banda-angosta
    color $bandaAngosta

.bg-banda-angosta 
    background $bandaAngostaLight

.rotograbado

  .container-detail-product
	  color $cm-primary-color 

  .-container-text-product-color
	  background $green

  .grid-x

	  .cell 
		  background $cm-grayMedium-color

	  .cell-color
		  overflow hidden
		  background $greenLight 
		  position relative
		  padding-right 1.5rem
		  -webkit-border-top-left-radius 3rem
		  -webkit-border-bottom-right-radius 7rem
		  -webkit-border-bottom-left-radius 3rem
		  -moz-border-radius-topleft 3rem
		  -moz-border-radius-bottomright 7rem
		  -moz-border-radius-bottomleft 3rem
		  border-top-left-radius 3rem
		  border-bottom-right-radius 7rem
		  border-bottom-left-radius 3rem

		  @media (max-width 1023px)
			  -webkit-border-top-left-radius 0
			  -webkit-border-bottom-right-radius 7rem
			  -webkit-border-bottom-left-radius 0
			  -moz-border-radius-topleft 0
			  -moz-border-radius-bottomright 7rem
			  -moz-border-radius-bottomleft 0
			  border-top-left-radius 0
			  border-bottom-right-radius 7rem
			  border-bottom-left-radius 0



	.title-card
		color $cm-white-color 
	.subtitle-card	
		color $cm-white-color 
	.body-card
		color $cm-white-color 

	.-btn-download
		border $green 1px solid 
		color $green

		&:hover 
			color $greenDark

		@media (max-width 640px)
			border 0
			color $greenDark

		
.coldset

  .container-detail-product
	  color $cm-primary-color 		

.bg-rotograbadoLight
    background $rotograbadoLight

.bg-cyan
	background $cm-cyan-color 

.bg-magenta
	background $cm-magenta-color 

.bg-black
	background $cm-black-color 

.bg-yellow
	background $cm-yellow-color 

.bg-bg
	background $cm-bg-color