// colores base
$cm-primary-color = #00539f
$cm-secondary-color = #3dae2b
$cm-tertiary-color = #1C840C


$cm-primary-colorLight = #7AA5CC

$cm-bg-color= $cm-grayMedium-color

$cm-cyan-color = #0688ff
$cm-magenta-color = magenta
$cm-yellow-color = yellow
$cm-black-color = black

$cm-link-color = $cm-tertiary-color
$cm-hover-color = $cm-secondary-color

// colores secundarios
$cm-font-color = #454545
$cm-grayLight-color = #f7f7f7
$cm-grayMedium-color = #f2f2f2
$cm-grayDark-color = #b2b2b2

$cm-white-color = #fff
$cm-black-color = #1d1d1d

// transiciones
$cm-transition-slow = .8s
$cm-transition-middle =  .4s
$cm-transition-fast =  .2s

// tipografia
$cm-font-title =  'Montserrat', sans-serif
$cm-font-body = 'Arial', sans-serif
$cm-font-icon = 'Flaticon'

$bandaAngosta = #6C2C91
$bandaAngostaLight = #ece7ec

$green = #37B243
$greenLight = #7DB931
$greenDark = #137E1E

$heatset = #CC128C
$serigrafia = #EC1D32




