.header
	background $cm-primary-color
	height 4rem
	width 100%
	
	.material-icons 
		@include transition ( color, .4s, ease)
		color $cm-link-color
		cursor pointer
		margin 1rem;
		
		&:hover 
			color $cm-hover-color
			