.header
	background $cm-primary-color
	height 4rem
	width 100%
	position relative
	padding 1.3rem 0
	
   .data-toggle-menu 
		transition( color $cm-transition-middle ease)
		color $cm-link-color
		cursor pointer
		margin 1rem
		position absolute
		right 1rem
		top .2rem
		
		&:hover 
			color $cm-hover-color
	
	.link-logotipo

		.item-logotipo 
			display block
			margin auto
			width 9rem
	nav
		margin-top -.2rem
		background $cm-grayMedium-color

		.menu 
			
			&.-secondary
				color $cm-white-color
				margin auto
				padding .1rem 0
				width 15.5rem

				li:nth-child(3) 
					margin-left 1rem

				select 
					background transparent
					border 0
					border-radius 0
					border-right 1px solid $cm-white-color 
					color $cm-white-color
					font-size .7rem
					padding 0 1rem
					height auto
				a 
					padding 0
					margin 0 .5rem 
				
				.material-icons
					transition( color $cm-transition-middle ease)
					color $cm-white-color

					&:hover
						color $cm-hover-color



				