.header
	background $cm-primary-color
	height 5.7rem
	width 100%
	position fixed
	padding 1.3rem 0 
    
	@media(min-width 992px)
		height 5rem
	
   .data-toggle-menu 
		transition( color $cm-transition-middle ease)
		color $cm-white-color
		cursor pointer
		margin 1rem
		position absolute
		right 1rem
		top .2rem
		
		&:hover 
			color $cm-hover-color
	
	.link-logotipo

		.item-logotipo 
			display block
			margin auto
			width 9rem 
			
			@media(min-width 992px) 
				margin-right auto 
				margin-left 0
				width 13rem
	nav
		margin-top -.2rem
		background $cm-grayMedium-color 
	    
		@media(min-width 992px)
			background $cm-primary-color
			position absolute
			right 1rem
			top -.9rem

		.menu 
			
			&.-secondary
				color $cm-primary-color
				margin auto
				padding .1rem 0
				width 15.5rem 

				@media(min-width 992px)
					color $cm-white-color

				li:nth-child(3) 
					margin-left 1rem
				
				li:nth-child(2) 
					position relative 
		
					&:after
						content '\f10f'
						color $cm-primary-color
						font-family Flaticon
						font-size .5rem
						position absolute
						right 1.3rem
						transform rotate(-90deg)
						top .45rem

				select 
					background transparent
					border 0
					border-radius 0
					border-right 1px solid $cm-primary-color 
					color $cm-primary-color
					font-size .7rem
					height auto
					padding 0 2rem 0 1rem
					position relative 

					@media(min-width 992px)
						color $cm-white-color

				a 
					padding 0
					margin .25rem .6rem 0
				
				[class^="flaticon-"] 
					transition( color $cm-transition-middle ease)
					color $cm-primary-color
					
					@media(min-width 992px)
						color $cm-white-color

					&:hover
						color $cm-hover-color 
        
.menu-primary 
	position absolute
	bottom 0 
	right 0
	display none

	li 
		a 
			color $cm-white-color
			font-size .9rem
			font-weight bold
			padding .7rem 2rem !important
			text-transform uppercase 
			
			&:hover 
			&:focus
			&:active		
				color $cm-white-color !important 
	
	@media(min-width 992px) 
		display flex

.is-dropdown-submenu
	border 0
	padding 1rem 0
	li 
		&:hover
			background $cm-grayMedium-color
		a 
			color: $cm-primary-color
			&:hover 
			&:focus
			&:active		
				color $cm-primary-color !important