.container-in
    padding-top: 5.5rem;

.accordion-title
    color $cm-font-color
    img
        width 1.4rem
        margin-right .5rem
 

    &:hover
    &:focus
        background transparent
        color $cm-font-color
.medals 
    text-align center
    padding-top  4rem
    img
        width  4rem
        margin auto
        display block 

    strong  
       display block 
       margin .5rem 0 .5rem

    small 
       display block 
       text-transform  uppercase
       margin 1rem 0 0

    
