.relation-products {
  background #f2f2f2 
  margin-top 2rem
  padding 0 0 3rem
  
  .container-relation {
    margin auto
    max-width 74rem
  .grid-margin-x {
    margin 0
    }

    .-relation {
        font-size 2rem
        
        @media(max-width:640px ){

          font-size 1.3rem
      }
  }
}
}



