.button

	&.-primary-color-outline 
		background transparent
		border .05rem solid $cm-primary-color
		color $cm-primary-color
		
	&.-primary-color
		background-color $cm-primary-color
		color $cm-white-color 