.card-lg
    background $cm-white-color
    min-height 21rem
    padding 4rem 1rem 0
    position relative

    &.-slide
        min-height 30rem
.card-sm 
    background $cm-white-color
    min-height 21rem
    padding 3rem 0
    position relative 

    .text-body 
        display none
    
    @media (min-width:640px) 

        .text-body 
            display block

.-bg-img
	background-size cover
	background-position center