.card-lg
    min-height 21rem
    padding 5rem 1rem 0

    &.-slide
        min-height 30rem
.card-sm
    min-height 14rem
    padding 2rem 0
    
    .text-body 
        display none

.-bg-img
	background-size cover
	background-position center