.card-lg
    background $cm-white-color
    min-height 21rem
    padding 4rem 1rem 0
    position relative

    &.-slide
        min-height 30rem
.card-sm 
    background $cm-white-color
    min-height auto
    padding: 1.5rem 0 3rem;
    position relative 
    
    @media (min-width:640px) 
        padding 3rem 0
        min-height 16rem
        
        @media (min-width:992px) 
            padding 3rem 2rem
            min-height 21rem
            
            @media (min-width:1024px) 
                padding 4rem 1rem 
                min-height 23rem

.-bg-img
	background-size cover
	background-position center