.banda-angosta
    color $bandaAngosta

.bg-banda-angosta 
    background $bandaAngostaLight

.rotograbado
  color $rotograbado

.bg-rotograbadoLight
    background $rotograbadoLight

.bg-cyan
	background $cm-cyan-color 

.bg-magenta
	background $cm-magenta-color 

.bg-black
	background $cm-black-color 

.bg-yellow
	background $cm-yellow-color 

.bg-bg
	background $cm-bg-color
