.banda-angosta
    color $bandaAngosta

.bg-banda-angosta 
    background $bandaAngostaLight

.rotograbado

  .container-detail-product
	  color $cm-primary-color 

  .grid-x
	  .cell 
		  background $cm-grayMedium-color
	  .cell:nth-child(1)
		  background $rotograbado
		  position relative
	.title-card
		color $cm-white-color 
	.subtitle-card	
		color $cm-white-color 
	.body-card
		color $cm-white-color 
	.-btn-download
		background $rotograbado
		
.coldset

  .container-detail-product
	  color $cm-primary-color 

  .grid-x
	  .cell 
		  background $cm-grayMedium-color
	  .cell:nth-child(1)
		  background $cm-primary-color
		  position relative
	.title-card
		color $cm-white-color 
	.subtitle-card	
		color $cm-white-color 
	.body-card
		color $cm-white-color 
	.-btn-download
		background $cm-primary-color
		





.bg-rotograbadoLight
    background $rotograbadoLight

.bg-cyan
	background $cm-cyan-color 

.bg-magenta
	background $cm-magenta-color 

.bg-black
	background $cm-black-color 

.bg-yellow
	background $cm-yellow-color 

.bg-bg
	background $cm-bg-color
