.banda-angosta
    color $bandaAngosta

.bg-banda-angosta 
    background $bandaAngostaLight

.rotograbado

  .container-detail-product
	  color $cm-primary-color 

  .-container-text-product-color
	  background $rotograbado

  .grid-x
	  .cell 
		  background $cm-grayMedium-color

	  .cell:nth-child(1)
		  overflow hidden
		  background #7DB931
		  position relative
		  padding-right 1.5rem
		  -webkit-border-top-left-radius 3rem
		  -webkit-border-bottom-right-radius 7rem
		  -webkit-border-bottom-left-radius 3rem
		  -moz-border-radius-topleft 3rem
		  -moz-border-radius-bottomright 7rem
		  -moz-border-radius-bottomleft 3rem
		  border-top-left-radius 3rem
		  border-bottom-right-radius 7rem
		  border-bottom-left-radius 3rem

	.title-card
		color $cm-white-color 
	.subtitle-card	
		color $cm-white-color 
	.body-card
		color $cm-white-color 
	.-btn-download
		background $rotograbado
		
.coldset

  .container-detail-product
	  color $cm-primary-color 

  .grid-x
	  .cell 
		  background $cm-grayMedium-color
	  .cell:nth-child(1)
		  background $cm-primary-color
		  position relative
	.title-card
		color $cm-white-color 
	.subtitle-card	
		color $cm-white-color 
	.body-card
		color $cm-white-color 
	.-btn-download
		background $cm-primary-color
		

.bg-rotograbadoLight
    background $rotograbadoLight

.bg-cyan
	background $cm-cyan-color 

.bg-magenta
	background $cm-magenta-color 

.bg-black
	background $cm-black-color 

.bg-yellow
	background $cm-yellow-color 

.bg-bg
	background $cm-bg-color