.menu-mobile 
    background $cm-primary-color
    padding-top 4rem

    .item-menu
        font-size .89rem
        font-weight bold
        
        &.-item-title 
            color $cm-white-color
            display block
            line-height 1
            padding .7rem 1rem

    .nested
        margin-bottom 1rem

        .item-menu
            font-size .8rem

        .item-link
            font-weight lighter
            padding .3rem 1rem

    .item-link
        color $cm-white-color
        &:hover 
            color $cm-hover-color  

    