.container-text
    padding 1rem

    >.title
        font-size 1.2rem
        margin 0
    
    >.subtitle
        font-family $fony-body
        font-size .9rem
        font-weight lighter

    >.text-body 
        font-size .8rem